# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

env:
  JBRIDGE_VERSION: "1.0.1"

jobs:
  build:
    name: Create Build
    if: "startsWith(github.event.head_commit.message, '[Build]')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven

      - name: Build
        run: mvn clean install

      - name: Upload Artifact
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: ${{ github.workspace }}/jbridge-common/target/*.jar, ${{ github.workspace }}/jbridge-nukkit/target/*.jar, ${{ github.workspace }}/jbridge-waterdogpe/target/*.jar, ${{ github.workspace }}/jbridge-lobby/jbridge-lobby-nukkit/target/*.jar, , ${{ github.workspace }}/jbridge-lobby/jbridge-lobby-waterdogpe/target/*.jar
          draft: false
          name: JBridge Release
          tag: v${{ env.JBRIDGE_VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
          body: "The artifacts are kept up to date with the branch release."
          commit: ${{ github.sha }}
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true